:root {
	--white-color: #fff;
	--yellow-color: #CCAC55;
}
body { 
	margin: 0;
    font-family: "Brandon Grotesque", brandon-grotesque, Helvetica, sans-serif;
}
a {text-decoration: none;color: currentcolor;}

.centered {
	width: 80%;
	max-width: 1000px;
	margin: 0 auto;
}
@media screen and (max-width: 776px) {
	.centered {width: 100%;}
}


header {
    padding: 1rem;
	background-color: #181c1f;
}
header .centered {
	display: flex;
	flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

header nav {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

header nav a {
	position: relative;
	padding: 0 .5rem;
	border-bottom: 2px solid transparent;
	transition: border-bottom .3s;
}
.navLeft a:hover {
	border-color: var(--yellow-color);
}
/* Another implementation */
/* header nav a:after {
	content: '';
	position: absolute;
	left: 0;
	bottom: -5px;
	width: 100%;
	height: 2px;
	background-color: transparent;
}
header nav a:hover:after {
	background-color: var(--yellow-color);
} */
.navLeft {
	/* margin-right: auto; */
	color: white;
}
.navLeft .logo{border-bottom: none;}

.navRight {
    color: #8b939b;
    font-size: 14px;
}
.navRight:last-child a:hover {
	box-shadow: inset 0px 0px 4px 4px rgba(255,255,255,.5);
}
.navRight a:last-child{
	background-color: black;
	padding: 6px 12px 5px;
	border-radius: 16px;
	transition: all 0.2s;
}

section.mainPic {
	position: relative;
	display: flex;
}
section.mainPic img {
	width: 100%;
	height: 620px;
	object-fit: cover;
}
section.mainPic .bottomPic {
	position: absolute;
	bottom: 0;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	padding: 2rem;
	background-color: rgba(0, 0, 0, .5);
	box-sizing: border-box;
}
section.mainPic .bottomPic a {
	margin-right: 3rem;color: white;
	font-size: 2rem;
}
section.mainPic .bottomPic a:hover {text-decoration: underline;}
section.mainPic .bottomPic button {
	padding: .5rem 2rem;
	border-radius: 2px;
	background-color: var(--white-color);
	border: 2px solid var(--white-color);
	transition: box-shadow .5s;
}
section.mainPic .bottomPic button:hover {border-color: orange;}
@media screen and (max-width: 766px) {
	section.mainPic .bottomPic {text-align: center;}
	section.mainPic .bottomPic a {margin-right: 0;margin-bottom: 1rem;}
}

/* section.mainPic .bottomPic button:hover {box-shadow: inset 0px 0px 2px 2px orange;} */
section.content {
	padding: 1rem;
    /* box-shadow: inset 0px 50px 50px -30px rgba(0,0,0,.5); */
    background-image: linear-gradient(to bottom, rgba(0,0,0,.1) 30%, #fff 70%);
	text-align: center;
}

section.picsContent .centered {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 5rem 0;
}
section.picsContent .centered a.figure-card {
	width: 25%;
}
section.picsContent .centered figure {
	padding: 20px;
	margin: 0;
	box-shadow: 0 1px 5px 0 rgba(0,0,0,0.25);
}
section.picsContent .centered figure img {width: 100%;margin-bottom: 1rem;}
section.picsContent .centered figure figcaption:hover {
	text-decoration: underline;
}
section.picsContent .centered figure figcaption span {
	display: block;
	padding-top: 1rem;
	color: rgb(53, 105, 164);
}

section.picsContent .centered figure figcaption span:after {
	    content: "→";
    	vertical-align: top;
    	padding-left: 6px;
}
@media screen and (max-width: 766px) {
	section.picsContent .centered a.figure-card {
		width: 80%;
		padding: 1rem;
		margin: 0 auto;
	}
}

footer {}
footer section.footerTop,
footer section.footerBottom {padding: 1rem;}
footer section.footerTop .centered, 
footer section.footerBottom .centered {display: flex;}
footer section.footerTop {
	background-color: #181c1f;
}
footer section.footerTop .footer-equal-block {
	position: relative;
	width: 25%;
	/* border-left: 1px dashed currentcolor; */
}
footer section.footerTop .footer-equal-block:not(:first-child) {padding-left: 2rem;}
footer section.footerTop .footer-equal-block:not(:first-child):before {
	content: '';
	position: absolute;left: 0;
	width: 1px;height: 100%;
	background-image: repeating-linear-gradient(to bottom, white, white 4px, transparent 4px, transparent 8px);
}

footer section.footerTop .footer-equal-block.corp p {margin-top: 0;margin-bottom: .4rem;}
footer section.footerTop .footer-equal-block h5 {margin: 0;}
footer section.footerTop .footer-equal-block a {
	display: block;
	width: 100%;
	margin-bottom: .4rem;
	color: #8b939b;
	font-size: 12px;
}
footer .footerTop .liTop, p {
    font-size: 11px;
    padding-bottom: 0.5rem;
    color: white;
}
footer .footerBottom {
	flex-wrap: wrap;
	justify-content: space-between;
	background-color: rgb(14, 17, 18);
	font-size: 12px;
}
footer .footerBottom .bottomNav {
	display: flex;
	color: rgb(139, 147, 155);
}
footer .footerBottom .bottomNav a {
	 padding: 0 .5rem;
}
footer .footerBottom span {color: #666;}
footer .footerBottom .bottomNav .follow {
	border-right: 1px solid currentcolor;
	padding-right: .5rem;
}
@media screen and (max-width: 766px) {

}

#popup {
	display: flex;
	align-items: center;		
	justify-content: center;
	position: fixed;
	top: 0;left: 0;right: 0;bottom: 0;
	background-color: rgba(0, 0, 0, .5);
	color: white;
	transition: opacity 1s;
}
#popup.hide {
	display: none;
}
#popup #close_btn {
	position: absolute;
	top: 0;right: 0;
	color: white;
	font-size: 5rem;
	background: none;
	border: none;
}