:root {
	--white-color: #fff;
}
body { 
	margin: 0;
    font-family: 'Brandon Grotesque','brandon-grotesque',Helvetica,sans-serif;
}
a {text-decoration: none;color: currentcolor;}
header {
	display: flex;
	flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
	background-color: black;
}

header nav {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

header nav a {padding: 0 .5rem;}
.navLeft {
	/* margin-right: auto; */
	color: white;
	padding-left: 15rem;
}
.navRight {
    color: #8b939b;
    padding-right: 18rem;
}

section.mainPic {
	position: relative;
	display: flex;
}
section.mainPic img {
	width: 100%;
	height: 620px;
	object-fit: cover;
}
section.mainPic .bottomPic {
	position: absolute;
	bottom: 0;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	padding: 2rem;
	background-color: rgba(0, 0, 0, .5);
	box-sizing: border-box;
}
section.mainPic .bottomPic a {margin-right: 3rem;color: white;}
section.mainPic .bottomPic button {
	padding: .5rem 2rem;
	border-radius: 2px;
	background-color: var(--white-color);
	border: 2px solid var(--white-color);
	transition: box-shadow .5s;
}
section.mainPic .bottomPic button:hover {border-color: orange;}
/* section.mainPic .bottomPic button:hover {box-shadow: inset 0px 0px 2px 2px orange;} */
section.content .info {
	display: flex;
	justify-content: center;
	padding-top: 2rem;
}
section .conteiner {	
    display: flex;
    padding: 10rem;
}
section .conteiner figure {}
section .conteiner figure img {width: 100%;margin-bottom: 1rem;}
section .conteiner figure figcaption span {display: block;}

footer {padding: 1rem 0;}
footer .footerTop {
	display: flex;
	background-color: #4b5256;
}
footer section.footerTop .footer-equal-block {
	position: relative;
	width: 25%;
	/* border-left: 1px dashed currentcolor; */
}
footer section.footerTop .footer-equal-block:not(:first-child) {padding-left: 2rem;}
footer section.footerTop .footer-equal-block:not(:first-child):before {
	content: '';
	position: absolute;left: 0;
	width: 1px;height: 100%;
	background-image: repeating-linear-gradient(to bottom, white, white 4px, black 4px, black 8px);
}

footer section.footerTop .footer-equal-block.corp p {margin-top: 0;margin-bottom: .4rem;}
footer section.footerTop .footer-equal-block h5 {margin: 0;}
footer section.footerTop .footer-equal-block a {
	display: block;
	width: 100%;
	margin-bottom: .4rem;
}
footer .footerBottom {
	display: flex;
	background-color: black;
	color: currentcolor;
}
#popup {
	display: flex;
	align-items: center;		
	justify-content: center;
	position: fixed;
	top: 0;left: 0;right: 0;bottom: 0;
	background-color: rgba(0, 0, 0, .5);
	color: white;
	transition: opacity 1s;
}
#popup.hide {
	display: none;
}
#popup #close_btn {
	position: absolute;
	top: 0;right: 0;
	color: white;
	font-size: 5rem;
	background: none;
	border: none;
}